<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s_frame00.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,317},{197,277}}</string>
				<key>offset</key>
				<string>{17,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,317},{197,277}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame01.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,99},{174,216}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{192,99},{174,216}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame02.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,620},{181,214}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,620},{181,214}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame03.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,13},{188,222}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{571,13},{188,222}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame04.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,237},{181,199}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{579,237},{181,199}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame05.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,370},{188,222}}</string>
				<key>offset</key>
				<string>{-6,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,370},{188,222}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,179}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,179}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,596},{185,238}}</string>
				<key>offset</key>
				<string>{5,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,596},{185,238}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame08.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,438},{176,236}}</string>
				<key>offset</key>
				<string>{23,31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{579,438},{176,236}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame09.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,676},{153,158}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,676},{153,158}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame10.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,222},{179,184}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,222},{179,184}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,417},{181,177}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,417},{181,177}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame12.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,657},{190,177}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{370,657},{190,177}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame13.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,15},{201,205}}</string>
				<key>offset</key>
				<string>{-12,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{368,15},{201,205}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame14.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,164},{190,204}}</string>
				<key>offset</key>
				<string>{-11,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,164},{190,204}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{182,234}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,181},{182,234}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame16.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,594},{201,240}}</string>
				<key>offset</key>
				<string>{12,31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,594},{201,240}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
			<key>s_frame17.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,408},{194,247}}</string>
				<key>offset</key>
				<string>{32,28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,408},{194,247}}</string>
				<key>sourceSize</key>
				<string>{289,302}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>icon.png</string>
			<key>size</key>
			<string>{958,834}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>icon.png</string>
		</dict>
	</dict>
</plist>
